{% extends 'base.html' %}

{% block body %}
<h2 style="text-align: center; background: #014f58; color: rgb(252, 252, 252);">All Employees Details</h2>


<div>

    <table class="table table-bordered table-dark">
        <thead style="background-color: #474646;">
            <tr>
                <th scope="col">Sr. no.</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Salary</th>
                <th scope="col">Department</th>
                <th scope="col">Designation</th>
                <th scope="col">Phone no.</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        {% for emp in emps %}
        <tbody>
            <tr>
                <th scope="row">{{emp.id}}</th>
                <td>{{emp.first_name}}</td>
                <td>{{emp.last_name}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.role.name}}</td>
                <td>{{emp.dept}}</td>
                <td>{{emp.phone}}</td>
                <td>{{emp.dept.location}}</td>
            </tr>
        </tbody>
        {% endfor%}
    </table>
</div>


{% endblock body %}